body {
    font-family: 'Staatliches', cursive;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.form-control {
    font-family: 'Inconsolata', monospace;
}

.navbar {
    background-color: #ffffff30 !important;
    backdrop-filter: blur(3px);
}

.shrinker {
    max-width: 1600px;
    min-width: 80%;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    background-color: #57b8fa;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

.hub-title {
    color: #212124;
}

a {
    color: #212124;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #4a8ac1;
    border-bottom: 1px solid black;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid black;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
    border-top: 1px solid black;
    margin-top: 20px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #4a8ac1;
}

#sidebar ul li.active > a {
    color: #fff;
    background: #4a8ac1;
}