body {
    background-color: #212124;
    color: #b1d3f5;
}

hr {
    height: 1px;
    border-top: 1px solid white;
}

#email-subtitle {
    font-family: 'Inconsolata', monospace;
}

.nav-tabs {
    border-width: 0px;
    transition: all 0s;
}

.nav-tabs .nav-link {
    border-width: 0px;
    color: #b1d3f5;
    transition: all 0s;
}

.nav-tabs .nav-link:hover {
    border-width: 0px;
    color: aquamarine;
    transition: all 0s;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:hover {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 5px solid #57b8fa;
    color: #57b8fa;
    background-color: transparent;
    margin-top: 2px;
    transition: all 0s;
}