<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <!-- Header fragment -->
    <head th:fragment="head(title, name)">
        <title th:text="${title}"></title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Procedurally generated pixel art objects">
        <meta name="author" content="Daniel Gelber">

        <!-- Imports -->
        <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/webjars/font-awesome/5.13.0/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="/css/_core.css" />
        <link rel="stylesheet" th:href="'/css/' + ${name} + '.css'" />

        <!-- JavaScript -->
        <script th:src="'/script/' + ${name} + '.js'"></script>

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.ico}" />
    </head>

    <!-- Navbar fragment -->
    <div th:fragment="navbar(login)">
        <div class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px solid black">
            <div class="shrinker d-flex mx-auto">
                <a class="navbar-brand" href="/">Pixel Tree</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/option/1">Option</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/option/2">Option</a>
                        </li>
                    </ul>

                    <div th:if="${session.user == null}">
                        <a th:unless="${login}" class="btn btn-primary" href="/create">Create Account</a>
                        <a th:unless="${login}" class="btn btn-outline-primary ml-2" href="/login">Login</a>
                    </div>
                    <div th:unless="${session.user == null}">
                        <a class="btn btn-outline-success" href="/hub">
                            <div class="d-flex flex-row align-items-center">
                                <i class="fas fa-user"></i>
                                <div class="ml-3" th:text="${session.user.username}"></div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Sidebar -->
    <div th:fragment="sidebar">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h1 class="hub-title">Pixel Tree Hub</h1>
            </div>

            <ul class="list-unstyled components">
                <li id="linkDashboard">
                    <a href="/hub">Dashboard</a>
                </li>
                <li id="linkProfile">
                    <a href="/hub/profile">Your Profile</a>
                </li>
                <li id="linkCredits">
                    <a href="/hub/credits">Credits</a>
                </li>
                <p>Generators</p>
                <li id="linkGeneratorRock">
                    <a href="/hub/generators/rock"><img width="64" height="64" src="/img/rock.png"  alt="rock"/></a>
                </li>
            </ul>
        </nav>
    </div>

</html>
