<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_fragments :: head('Create Account | Pixel Tree', 'create')"></head>
<body>

<div th:include="_fragments :: navbar(true)"></div>

<div class="card w-25 mx-auto mt-5">
    <div class="card-body">
        <h1 class="card-title">Create an Account</h1>
        <form role="form">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="text" name="username" id="inputUsername" class="form-control input-sm" placeholder="Username">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
                </div>
            </div>

            <input type="email" name="email" id="email" class="form-control mt-3" placeholder="Email Address">

            <div class="row mt-3">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-3">Register</button>
        </form>
    </div>
</div>

</body>
</html>