<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:include="_fragment-head.html :: head('Pixel Tree', 'index')"></head>
<body>

<div class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 1px solid black" th:fragment="navbar">
    <div class="shrinker d-flex mx-auto">
        <a class="navbar-brand" href="#">Pixel Tree</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/packs/official/1">Option</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/packs/featured/1">Option</a>
                </li>
            </ul>

            <a class="btn btn-primary" href="/create">Create Account</a>
            <a class="btn btn-outline-primary ml-2" href="/login">Login</a>
        </div>
    </div>
</div>

</body>
</html>